/*body{
	background: #F62459;
}
form{
	margin: 200px auto;
	width: 300px;
	padding: 30px;
	color: #434;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	height: auto;
	border-radius: 10px;
	background: #264348;
	color: #fff;
}
a{
	color:  #4B77BE;
}
.btn{
	padding: 10px;
	border:1px;
	background: #fff;
	box-shadow: 1px 1px 1px 1px #333;
}
.btn:hover{
	background: #c0c0c0;
	cursor: pointer;
}
.regist-tip{
	font-size: 12px;
}*/